@import '~antd/dist/antd.css';

.ant-message {
  bottom: 20px;
  top: initial;
}

/* Custom Scroll Bar [START] */
/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* Custom Scroll Bar [END] */

.MuiSvgIcon-root {
  float: left;
  clear: both;
}

.ant-menu-submenu-title svg.MuiSvgIcon-root, .ant-menu-item svg.MuiSvgIcon-root{
  position: relative;
  top: 0.5rem;
  right: 0.25rem;
}

.ant-btn svg.MuiSvgIcon-root{
  margin-right: 0.5rem;
}